* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f6ff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.title {
    margin-bottom: 30px;
    font-size: 26px;
    font-weight: bold;
}

.wrapper {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.box {
    width: 200px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 10px;
    color: white;
}

.default-box {
    background: #ff5959;
}

.border-box {
    background: #4e8cff;
    box-sizing: border-box;
}
