 input{
            display:block;
            margin-bottom:8px;
            padding:6px;
            width:250px;
        }
        .error{
            color:red;
            font-size:12px;
        }
        .valid{
            border:2px solid green;
        }
        .invalid{
            border:2px solid red;
        }